body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (optional) */
}

.color-card {
  margin: 10px 300px;
  padding: 5px;
  border-radius: 4px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

button {
  margin-right: 10px;
  margin-left: 10px;
  padding: 1px 8px;
  border: none;
  background-color: #252334;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
